<section class="deploy-to-tweet">
    <p id="notice"><%= notice %></p>

    <h1>I've deployed using twitter</h1>

    <div class="cool-tweets">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Tweet</th>
            </tr>
          </thead>

          <tbody>
            <% @feeds.each do |feed| %>
              <tr>
                <td><%= feed.name %></td>
                <td><%= feed.message %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
</section>