<section class="deploy-to-tweet">
    <p id="notice"><%= notice %></p>

    <h1>I've deployed using <span class="twitter">twitter</span> <%= image_tag 'tweeter.jpg', class: 'tweet-image' %></h1>
    <h5><a href="https://smoke.snap-ci.com/snap-ci-examples/snap_leaderboard/branch/master"><img src="https://smoke.snap-ci.com/snap-ci-examples/snap_leaderboard/branch/master/build_image" alt="Build Status"></a></h5>

    <div class="cool-tweets">
        <table>
          <thead>
            <tr>
              <th>From</th>
              <th>Tweet</th>
            </tr>
          </thead>

          <tbody>
            <% @feeds.each do |feed| %>
              <tr>
                <td><%= feed.name %></td>
                <td><%= raw feed.message
                                    .gsub(/ @(?<arroba>\w+)/, ' <a href="https://twitter.com/\k<arroba>">@\k<arroba></a>')
                                    .gsub(/ #(?<hashtag>\w+)/, ' <a href="https://twitter.com/hashtag/\k<hashtag>?src=hash">#\k<hashtag></a>') %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
</section>
