section.deploy-to-tweet {

  .cool-tweets {
    @include span-columns(10);
    @include shift(1);
    @include media($medium-screen) {
      @include span-columns(8 of 12);
      @include shift(2);
    }
  }

  .twitter {
    color: #28A9E0;
  }

  .tweet-image {
    width: 50px;
    padding-left: 5px;
  }
}